.add_window{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    text-align: center;
    position: absolute;
    width: 40vw;
    height: 50vh;
    bottom: 0;
    right: 0;
    border: solid;
    
}

.add_window form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7%;
}

.close_add_window{
    position: absolute;
    top: 10px;
    left: 10px;
}

.btn-close{
    width: 20px;
    height: 20px;
    border-radius: 30px;
}
.btn-close:hover{
    background-color: rgb(255, 131, 109);
}

.form-add{
    margin: 0 10px 90px 10px;
}

.add-user{
    height: 64vh;
}

.title-add-user{
    margin-bottom: 20px;
}